body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f0f0f0;
}

#content {
  position: relative;
  max-width: 90vw; /* Ensure the content doesn't overflow on mobile */
  overflow: hidden;
}

#randomButton {
  top: 57%;
  position: absolute;
}

p {
  text-align: center;
  font-size: 24px;
  margin-top: 100px; /* Adjust based on where you want the text */
  word-wrap: break-word; /* Ensure long texts break and wrap within the container */
  max-width: 90vw; /* Ensure text doesn't overflow on mobile */
}

#yesButton {
  transition: transform 0.2s; /* Smoothly scale the button */
  width: auto; /* Ensure the button's width is automatic based on its content */
  white-space: nowrap; /* Prevent text from wrapping */
  padding: 10px 20px; /* Adjust padding as needed */
  display: block; /* Make the button a block element */
  margin: 20px auto; /* Center the button horizontally */
}

@media (max-width: 768px) {
  p {
    font-size: 18px; /* Adjust the font size for smaller screens */
    margin-top: 50px; /* Adjust the margin for smaller screens */
  }

  #randomButton {
    top: 70%;
  }

  #yesButton {
    padding: 8px 16px; /* Adjust padding for smaller screens */
  }
}
